* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.line-section2 {
    background-color: #00eaff;
    height: 2px;
    width: 60px;
    position: relative;
    left: -43px;
}

.section2 {
    background-color: rgb(237, 240, 242);
}

.cards-section2 {
    background-color: rgb(237, 240, 242);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card-section2 {
    width: 350px;
    height: 275px;
    background-color: #ffffff;
    padding: 45px 30px;
    box-shadow: -20px 20px 1px 0px rgba(221, 223, 225);
    position: relative;
    z-index: 1;
}

.button-section2 {
    width: 813px;
    height: 109px;
    filter: drop-shadow(0px 2px 5px rgba(255, 107, 8, 0.59));
    background-color: #ff702a;
}

.h2-section2 {
    width: 90%;
    /* height: 261px; */
    margin-bottom: 115px;
    font-size: 48px;
    letter-spacing: -2px;
    line-height: 60px;
    color: #222222;
    font-weight: bold;
    text-align: center;
    display: flex;
    padding-top: 90px;
}

.text-section2 {
    display: flex;
    justify-content: center;
}

.button_text-section2 {
    font-size: 25px;
    color: #ffffff;
    font-weight: 800;
}

.card_text-section2 {
    color: #222222;
    line-height: 2;
}

.button_location-section2 {
    display: flex;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 96px;
}

.numbers-section2 {
    font-size: 150px;
    color: #fbfcfb;
    font-weight: 700;
    text-align: right;
}

.card-section2::after {
    display: block;
    content: attr(data-number);
    position: absolute;
    right: -8px;
    top: -108px;
    color: white;
    font-weight: bold;
    font-size: 150px;
}

.bold-section2 {
    font-weight: bold;
}

@media(max-width: 768px) {
    *{
        flex-wrap:wrap
    }
    .h2-section2 {
        width: 587px;
        height: 82px;
        font-size: 30px;
        letter-spacing: -1px;
        line-height: 40px;
        color: #222222;
        font-family: "Acrom";
        font-weight: bold;
        text-align: center;
        padding-bottom: 60px;
    }
    .cards-section2 {
        width: 200px;
        height: 229px;
        filter: drop-shadow(0px 15px 16px rgba(0, 0, 0, 0.16));
        background-color: #ffffff;
        justify-content: center;
        padding-bottom:40px ;
       

    }
    .card-section2::after {
        display: block;
        content: attr(data-number);
        position: absolute;
        right: -4px;
        top: -40px;
        color: white;
        font-weight: bold;
        font-size: 60px;
    }
    .card_text-section2 {
        color: #222222;
        line-height: 1.5;
    }
    .button-section2 {
        width: 530px;
        height: 70px;
        filter: drop-shadow(0px 2px 5px rgba(255, 107, 8, 0.59));
        background-color: #ff702a;
    }
    .button_text-section2 {
        font-size: 18px;
        color: #ffffff;
        font-family: "Acrom";
        font-weight: 800;
    }
    .cards-media-section2{
        display: flex;
        justify-content: space-between;
    }
}